SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="eth0", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="eth1", NAME="eth1"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="eth2", NAME="eth2"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="eth3", NAME="eth3"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="eth4", NAME="eth4"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="eth5", NAME="eth5"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="p2p0", NAME="p2p0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="wlan0", NAME="wlan0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="wlan1", NAME="wlan1"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="wwan0", NAME="wwan0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="wwan1", NAME="wwan1"
