<launch>
  <node name="motor_control_node" pkg="motor_control" type="motor_control_node" output="screen">
    <param name="serial_port" value="$(arg serial_port)" default="/dev/ttyS2"/>
    <param name="baudrate" value="$(arg baudrate)" default="115200"/>
    <param name="cutter_vel" value="$(arg cutter_vel)" default="0"/>
  </node>

  <!-- 串口权限配置（RK3588） -->
  <exec cmd="chmod 777 /dev/ttyS2" output="screen"/>
</launch>