<launch>
  <node name="lawnmower_base_node" pkg="lawnmower_base" type="lawnmower_base_node" output="screen">
    <param name="config_path" value="$(find lawnmower_base)/config/sensor_params.yaml" />
    <param name="publish_rate" value="50" />
    
    <!-- Orbbec配置 -->
    <param name="orbbec/device_id" value="0" />
    <param name="orbbec/usb_port" value="/dev/bus/usb/001/005" />
    <param name="orbbec/frame_id" value="orbbec_pointcloud" />
    <param name="orbbec/width" value="640" />
    <param name="orbbec/height" value="480" />
    <param name="orbbec/fps" value="30" />
    
    <!-- Hesai配置 -->
    <param name="hesai/ip_address" value="192.168.1.200" />
    <param name="hesai/port" value="9347" />
    <param name="hesai/frame_id" value="hesai_imu" />
    <param name="hesai/imu_rate" value="200" />
    
    <!-- UM982配置 -->
    <param name="um982/serial_port" value="/dev/ttyUSB0" />
    <param name="um982/baud_rate" value="115200" />
    <param name="um982/frame_id" value="um982_gps" />
  </node>
</launch>