<launch>
    <node name="lawnmower_base_node" pkg="lawnmower_base" type="lawnmower_base_node" output="screen">
        <param name="base_frame" value="base_link"/>
        <param name="lidar_frame" value="lidar_link"/>
        <param name="imu_frame" value="imu_link"/>
        <param name="gps_frame" value="gps_link"/>
        <param name="camera_width" value="1280"/>
        <param name="camera_height" value="720"/>
        <param name="camera_fps" value="30"/>
        <param name="lidar_ip" value="192.168.1.201"/>
        <param name="lidar_port" value="2368"/>
        <param name="uart_dev" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="115200"/>
    </node>
</launch>