<launch>
  <!-- 传感器使能参数 -->
  <param name="/orbbec_gemini335/enable" value="true" />
  <param name="/hesai_jt128/enable" value="true" />
  <param name="/um982/enable" value="true" />

  <!-- 模拟系统状态发布（实际场景替换为硬件驱动） -->
  <node name="sim_system_status" pkg="rospy" type="sim_system_status.py" output="screen">
    <param name="motor_publish_rate" value="1.0" />
    <param name="sensor_conn_publish_rate" value="1.0" />
  </node>
</launch>