[Unit]
Description=Lawnwomer ROS Node Service (RK3588)
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/ubuntu/lawnwomer
ExecStart=/opt/ros/noetic/bin/roslaunch lawnwomer start_all.launch
Restart=on-failure
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target