[Unit]
Description=Lawnmower Robot Service
After=network.target
[Service]
Type=simple
ExecStart=/opt/ros/noetic/bin/roslaunch lawnwomer main.launch
WorkingDirectory=/home/lawnmower/lawnwomer_ws
Restart=always
User=lawnmower
[Install]
WantedBy=multi-user.target